
/*
   Navigation
   ========================================================================== */

.navigation-wrapper {
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
  font-family: $heading-font;
  background-color: $nav-color;
  border-top: .15rem solid $orange;
  border-bottom: .1rem solid grey;
  @include box-shadow(0 5px 6px -5px grey);
  padding: 0 .5rem 0 .5rem;
  @media #{$medium} {
    padding: 0 2rem 0 2rem;
  }

  /* Top navigation links (tablet/desktop only) */
  .top-navigation {
    @include container(75rem);
    @include clearfix;
  }
}

.nav {
  @include container;
  @include clearfix;
  font-weight: 700;
  padding: 1rem 0 1rem 0;
  text-transform: uppercase;
  font-family: $heading-font;
  ul li {
    width: 100%;
    display: block;
    text-align: center;
  }
  @media #{$medium} {
    padding: 0;
    ul li {
      width: auto;
      text-align: none;
      display: inline-block;
    }
  }

  &.mobile {
    //hidden by default. toggled w/ js
    display: none;
    padding: 0 1rem 0 1rem;
    @media #{$large} {
      display: none !important;
    }
    li.pages {
      padding: 1rem 0 1rem 0;
      border-bottom: .1rem solid lighten(grey, 20);
      &:last-child {
        border-bottom: none;
      }
      display: block;
      @media #{$large} {
        display: none;
      }
      a {
        border-bottom: none !important;
        &.selected-nav-item { color: $orange; }
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
  li {
    display: block;
    list-style-type: none;
    display: inline;
    margin-right: 2.5rem;
    white-space: nowrap;
    @include font-rem(18);
    a {
      color: $nav-text-color;
      decoration: none;
      position: relative;
      display:inline-block;
      text-decoration: none;
      outline: 0 !important;
      &:hover {
        color: $orange;
      }
    }
    &.mobile-menu {
      cursor: pointer;
      a {
        @include font-rem(24);
        &:hover { color: $light-black; }
      }
      @media #{$large} {
        display: none;
      }
    }
    &.site-header {
      font-weight: 700;
      text-transform: uppercase;
      font-family: $heading-font;
      @include font-rem(24);
      a {
        padding-top: .75rem;
        padding-bottom: .75rem;
        @media #{$large} {
          padding-bottom: 0;
        }
      }
    }
    &.nav-search {
      padding-top: .5rem;
      margin-right: .3rem;
      input {
        margin: 0;
        width: 12rem;
        height: 2rem;
        font-weight: 600;
        color: $light-black;
        border-radius: .3rem;
        font-family: $heading-font;
        &:hover,
        &:focus {
          border: .11rem solid $orange;
          @include box-shadow(0 0 .3em $orange);
        }
      }
      .search-input-icon {
        top: 1px;
        width: 0;
        z-index: 1;
        left: -25px;
        cursor: pointer;
        position: relative;
        color: $light-black;
      }
    }
    &.site-pages {
      display: none;
      @media #{$large} {
        display: inline;
      }
      a {
        padding: 1rem 0 .75rem 0;
        &:hover {
          color: $orange;
        }
        &:hover,
        &.selected-nav-item {
          border-bottom: .15rem solid $orange;
        }
      }
    }
    &.social-btns {
      margin-right: 0;
      @media #{$medium} {
        padding-top: .75rem;
      }
      @include font-rem(20);
      a:hover {
        @include scale(1.2);
      }
      .fa-github          { color: $github-color; }
      .fa-linkedin        { color: $linkedin-color; }
      .fa-envelope-square { color: $envelope-color; }
      .fa-rss             { color: $rss-color; }
    }

    &.nav-search,
    &.site-pages,
    &.social-btns {
      float: right;
    }
  }
}