/*
   Navigation
   ========================================================================== */

.navigation-wrapper {
  font-weight: 700;
  position: relative;
  padding: 0 .5rem 0 .5rem;
  text-transform: uppercase;
  font-family: $heading-font;
  background-color: $nav-color;
  border-top: .15rem solid $orange;
  @include box-shadow(0 0 .2em .05em $nav-color);
  @media #{$medium} {
    padding: 0 1rem;
  }

  /* Top navigation links (tablet/desktop only) */
  .top-navigation {
    @include container(65rem);
    @include clearfix;
  }
}

.nav {
  @include container;
  @include clearfix;
  font-weight: 700;
  padding: 1rem 0 1rem 0;
  text-transform: uppercase;
  font-family: $heading-font;
  ul li {
    width: 100%;
    display: block;
    text-align: center;
  }
  @media #{$medium} {
    padding: 0;
    ul li {
      width: auto;
      text-align: none;
      display: inline-block;
    }
  }

  &.mobile {
    display: none;
    padding: 0 1rem 0 1rem;
    @media #{$large} {
      display: none !important;
    }
    li.pages {
      padding: 1rem 0 1rem 0;
      border-bottom: .1rem solid lighten(grey, 20);
      &:last-child {
        border-bottom: none;
      }
      display: block;
      @media #{$large} {
        display: none;
      }
      a {
        border-bottom: none !important;
        &.selected-nav-item {
          color: $orange;
        }
      }
    }
  }
  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
  li {
    display: inline;
    list-style-type: none;
    white-space: nowrap;
    @include font-rem(20);
    a {
      decoration: none;
      position: relative;
      display:inline-block;
      text-decoration: none;
    }
    a, i {
      color: $nav-text-color;
    }
  }

  li.mobile-menu {
    cursor: pointer;
    margin-right: 1rem;
    vertical-align: middle;
    a {
      @include font-rem(24);
    }
    @media #{$large} {
      display: none;
    }
  }
  li.site-home {
    margin-right: .5rem;
    display: inline-block;
    &:hover { @include opacity(.6); }
    img {
      width: 3.25rem;
      vertical-align: middle;
    }
  }
  li.site-pages {
    display: none;
    @include font-rem(20);
    @media #{$large} {
      display: inline-block;
    }
    a {
      padding: .9rem .25rem;
      margin-right: 1rem;
      &:hover { @include opacity(.6); }
      &:last-child {
        margin-right: 0;
      }
      &.selected-nav-item {
        border-bottom: .2rem solid $orange;
      }
    }
  }
  li.nav-search {
    margin: 0 auto;
    padding: .6rem 0;
    @media #{$medium} {
      margin: 0 .3rem 0 .5rem;
    }
    input {
      margin: 0;
      width: 16rem;
      height: 2rem;
      font-weight: 600;
      color: black;
      border-radius: .3rem;
      background: lighten($nav-color, 30);
      font-family: $heading-font;
      border: .11rem solid $nav-color;
      @include font-rem(19);
      @include box-shadow(0 0 0 .15em $nav-color);
      &::placeholder {
       color: $nav-color;
        opacity: 1;
      }
      &:-ms-input-placeholder {
       color: $nav-color;
      }
      &::-ms-input-placeholder {
       color: $nav-color;
      }
    }
    i {
      top: 1px;
      width: 0;
      z-index: 1;
      left: -25px;
      cursor: pointer;
      position: relative;
      color: $nav-color;
    }
  }
  li.social-btns {
    a {
      padding: 1rem 0;
      margin-right: .5rem;
      @include font-rem(20);
      &:last-child {
        padding-right: 0;
        margin-right: 0;
      }
      &:hover { @include opacity(.6); }
    }
  }
  li.nav-search,
  li.social-btns {
    float: right;
  }
  li.nav-search {
    @media #{$medium} {
      float: none;
    }
  }
}