
/*
   Navigation
   ========================================================================== */

.navigation-wrapper {
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
  font-family: $heading-font;
  background-color: $nav-color;
  border-top: .15rem solid $orange;
  padding: 0 .5rem 0 .5rem;
  @media #{$medium} {
    padding: 0 2rem 0 2rem;
  }

  /* Top navigation links (tablet/desktop only) */
  .top-navigation {
    @include container(75rem);
    @include clearfix;
  }
}

.nav {
  @include container;
  @include clearfix;
  font-weight: 700;
  text-transform: uppercase;
  font-family: $heading-font;

  &.mobile {
    //hidden by default. toggled w/ js
    display: none;
    padding: 0 2rem .75rem 2rem;
    background-color: darken($light-black, 10);
    @media #{$large} {
      display: none !important;
    }
    .li-pages {
      border-bottom: .15rem solid $light-black;
      &:last-child {
        border-bottom: none;
      }
      display: block;
      @media #{$large} {
        display: none;
      }
      a {
        border-bottom: none !important;
        &.selected-nav-item {
          color: $orange;
        }
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
    li {
      display: block;
      list-style-type: none;
      display: inline;
      margin-right: 25px;
      white-space: nowrap;
      @include font-rem(16);
      a {
        color: $white;
        decoration: none;
        position: relative;
        display:inline-block;
        text-decoration: none;
        outline: 0 !important;
        padding: .7rem 0 .6rem 0;
        &:hover {
          color: $orange;
        }
      }
    }
    .li-mobile-menu {
      display: inline;
      cursor:pointer;
      a {
        &:hover {
          color: white;
        }
      }
      @media #{$large} {
        display: none;
      }
    }
    .li-pages {
      display: none;
      @media #{$large} {
        display: inline;
      }
      a {
        &:hover {
          color: $orange;
          border-bottom: .2rem solid $orange;
        }
        &.selected-nav-item {
          border-bottom: .2rem solid $orange;
        }
      }
    }
    .li-social,
    .li-search {
      float: right;
    }
    .li-social {
      a:hover {
        @include scale(1.2);
      }
    }
    .li-search {
      margin-right: 0;
      input {
        width: 12rem;
        height: 2rem;
        font-weight: 600;
        border-radius: .3rem;
        color: darken(grey, 20);
        background-color: $grey;
        font-family: $heading-font;
        @include font-rem(15);
        &:focus,
        &:hover {
          border: .12rem solid $orange;
        }
      }
      @include input-placeholder {
        color: darken(grey, 25);
        font-weight: 600;
        font-style:italic;
        font-family: $heading-font;
      }
      .search-input-icon {
        top: 1px;
        width: 0;
        z-index: 1;
        left: -25px;
        cursor: pointer;
        position: relative;
        color: $light-black;
      }
    }
  }
}