/* ==========================================================================
   Page layout
   ========================================================================== */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  outline: 0 !important;
}

body {
  color: $text-color;
  font-family: $base-font;
  background: $body-color;

  // for sticky footer
  margin: 0;
  min-height: 100%;
  position: relative;
}

/* Main content */
.site-content {
  padding: 1rem .5rem 4rem .5rem;
  @media #{$large} {
    padding: 1rem 2rem 4rem 2rem;
  }

  #main {
    clear: both;
    counter-reset: captions;
    @include container(68rem);
    @include clearfix;
    #index,
    .post,
    .page {
      float: left;
      margin-bottom: 1.5rem;
      background-color: $white;
      width: 100%;
    }
    .post {
      p.byline.post-meta {
        padding: .5rem 0;
        border-top: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
        span.separator {
          margin: 0 .5rem;
        }
        a {
          color: $orange;
          text-decoration: underline;
          &.comments-preview {
            display: inline-block;
            .fa-comments {
              margin-right: .25rem;
            }
          }
        }
        a.post-meta-nav-next,
        a.post-meta-nav-prev {
          text-decoration: none;
          float: right;
          i:hover {
           @include scale(1.25); 
          }
        }
      }
      .post-content-wrap {
        padding: 1rem 1rem 1rem 1rem;
        @media #{$large} {
          padding: 0;
          .post-content {
            width: 78%;
            display: inline-block;
          }
        }
      }
    }
    #index,
    .page {
      padding: 0 1rem 2rem 1rem;
      @media #{$large} {
        padding: 0;
      }
      @media #{$large} {
        width: 100%;
      }
    }

    .post-headline-wrap {
      padding: 1rem;
      h1 {
        margin: 0;
        font-size: 2rem;
      }
      .byline {
        margin: 0;
      }
      @media #{$large} {
        padding: 1rem 0 1.5rem 0;
      }
    }
  }
}

/* Index listing specific styling */
/* Layouts: home, blog, and results */
#index {
  margin-bottom: 2rem;
  h3 {
    margin: 0;
    padding-bottom: .5rem;
    @include font-rem(28);
    border-bottom: 1px solid lighten($black,70);
  }
  article {
    h2 {
      margin-bottom: 4px;
      @include font-rem(20);
      time {
        color: $orange;
      }
    }
    p {
      @include font-rem(14);
    }
    p+p {
      text-indent: 0;
    }
  }
}

/* Post byline */
.byline {
  clear: both;
  color: grey;
  font-size: 80%;
}

/* Author sidebar & author/article separator*/
.post-sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
  width: 19%;
  float: right;
  display: none;
  padding-left: 1.5rem;
  color: $light-black;
  @media #{$large} {
    display: inline-block;
  }
  h4 {
    margin-top: 0;
    margin-bottom: .5rem;
    text-transform: uppercase;
    @include font-rem(16);
    &:before {
      content: "\2014";
      padding-right: .25rem;
    }
  }
  p {
    margin: 0;
    color: $light-black;
    font-size: 80%;
    font-style: italic;
  }
  a {
    color: $light-black;
    &:hover {
      color: $orange;
    }
  }
  .byline {
    color: grey;
  }

  /* Latest articles list */
  .related-posts {
    &.side {
      a {
        display: contents;
        font-family: $heading-font;
        margin-bottom: .4rem;
        &:hover {
          text-decoration: underline;
        }
      }
      p {
        margin-bottom: 1rem;
      }
      p:last-child {
        margin-bottom: 1.5rem;
      }
    }
  }
}

.related-posts.article,
.about-author-card {
  padding: 1rem 1rem 1rem 1rem;
  @media #{$large} {
    display: none;
  }
  h4 {
    margin-bottom: .5rem;
    text-transform: uppercase;
    &:before {
      content: "\2014";
      padding-right: .25rem;
    }
  }
}

/* Post content wrapper */
.article-wrap {
  // Dotted line underlines for links
  p > a,
  li > a {
    text-decoration: underline;
  }
}

/* Table of contents */
.toc {
  font-size: 95%;
  @media #{$large} {
    display: block;
    @include grid(12,2);
    @include prefix(12,0.5);
    @include suffix(12,0.5);
    position: absolute;
    top: 5.5rem;
    right: 0;
    background-color: $white;
  }
  header {
    background: lighten($black, 10);
  }
  h3 {
    margin: 0;
    padding: 5px 10px;
    color: $white;
    @include font-rem(16);
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
    }
  }
  ul {
    margin: 2px 0 0;
    padding: 0;
    line-height: 1;
  }
  li {
    display: block;
    margin: 0 0 1px 0;
    padding: 0;
    font-family: $heading-font;
    list-style-type: none;
    &:last-child {
      border-bottom-width: 0;
    }
    a {
      padding: 10px;
      display: block;
      color: $white;
      text-decoration: none;
      background: lighten($black, 30);
      @include opacity(0.7);
      @include transition(opacity 0.2s ease-in-out);
      &:hover {
        @include opacity(1);
      }
    }
    ul {
      margin: 1px 0 0;
      li a {
        padding-left: 20px;
      }
    }
  }
}

/* TOC trigger for collapsing */
#drawer {
  max-height: 100%;
  overflow: hidden;
  &.js-hidden {
    max-height: 0;
  }
}

/* Social sharing links */
/* Social media brand buttons */
.social-share,
.post-tags {
  h4 {
    margin-bottom: .5rem;
    text-transform: uppercase;
    @include font-rem(16);
    &:before {
      content: "\2014";
      padding-right: .25rem;
    }
  }
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
    margin: 0 .2rem .4rem 0;
  }
  i {
    padding-right: .25rem;
  }
  $social:
  (twitter, $twitter-color),
  (facebook, $facebook-color),
  (google-plus, $google-plus-color),
  (linkedin, $linkedin-color),
  (flickr, $flickr-color),
  (foursquare, $foursquare-color),
  (instagram, $instagram-color),
  (pinterest, $pinterest-color),
  (rss, $rss-color),
  (tumblr, $tumblr-color),
  (vimeo, $vimeo-color),
  (youtube, $youtube-color);
  @each $socialnetwork, $color in $social {
    .#{$socialnetwork} {
      background: $color;
    }
  }
  a {
    opacity: 0.8;
    color: $white;
    display: block;
    font-weight: 600;
    padding: 5px 5px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none !important;
    background-color: $light-black;
    font-family: $heading-font;
    @include font-rem(14);
    &:hover {
      color: white;
      opacity: .6;
    }
  } 
}

.post-tags {
  &.article {
    display: block;
    @media #{$large} {
      display: none;
    }
  }
  &.side {
    margin-bottom: 1.25rem;
  }
}

/* Footer wrapper */
.footer-wrap {
  border-top: .15em solid $orange;
  background-color: $footer-color;
  padding: 0.5em 0 1em 0;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  clear: both;
  @include container;
  @include clearfix;
  a,
  a:active,
  a:visited,
  p,
  h4,
  h5,
  h6,
  span {
    @include font-rem(18);
  }
  footer {
    text-align: center;
    .author-social {
      display: inline-block;
    }
    &, a {
      font-weight: 600;
      color: $footer-text-color;
    }
    a {
      text-decoration: underline;
      &:hover {
        @include scale(1.2);
      }
    }
    i:hover {
      color: $orange;
    }
  }
}

/*
   Browser upgrade alert
   ========================================================================== */

.browser-upgrade {
  background: #000;
  text-align: center;
  margin: 0 0 2em 0;
  padding: 10px;
  text-align: center;
  color: $white;
  a {
    color: $white;
    border-bottom: 1px dotted $white;
    text-decoration: none;
    &:hover {
      border-bottom: 1px solid $white;
    }
  }
}

/*
   Google search form
   ========================================================================== */

#goog-fixurl {
  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    li {
      list-style-type: none;
    }
  }
}
#goog-wm-qt {
  width: auto;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 8px 20px;
  display: inline-block;
  @include font-rem(14);
  background-color: $white;
  color: $black;
  border-width: 2px !important;
  border-style: solid !important;
  border-color: lighten($black,50);
  @include rounded(3px);
}
#goog-wm-sb {
  @extend .btn;
}

/*
   Handle results page when JavaScript is turned off in the browser
   ========================================================================== */

.results .search-results-article { display: none; }
.results .js-req-header { display: none; }

.no-js .results {
  #index #search-results-header {
    display: none;
  }
  .js-req-header {
    display: block;
    border-bottom: none !important;
  }
}

/*
   Reveal animation of site content
   ========================================================================== */

.fade-in-first {
  opacity: 0;
  animation: fadeIn 250ms forwards;
}

.fade-in-second {
  opacity: 0;
  -webkit-animation: fadeIn 500ms forwards;
  animation: fadeIn 500ms forwards;
}

.fade-in-third {
  opacity: 0;
  -webkit-animation: fadeIn 750ms forwards;
  animation: fadeIn 750ms forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*
   Post footer next/prev pagination
   ========================================================================== */

.post-navigation {
  overflow: hidden;
  .article-wrap {
    display: inline-block;
    &:hover i {
      @include scale(1.2);
    }
    i {
      font-size: 2rem;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    &.next {
      float: left;
      margin-top: 1rem;
      * { float: none; }
      i {
        margin-left: 0;
        margin-right: .4rem;
      }
      .text-wrap {
        float: right;
      }
      @media #{$medium} {
        float: right;
        margin-top: 0;
        * { float: right; }
        i {
          margin-left: .25rem;
          margin-right: 0;
        }
        .text-wrap {
          float: left;
        }
      }
    }
    &.prev {
      width: 100%;
      @media #{$medium} {
        width: auto;
      }
      .text-wrap {
        display: inline-block;
      }
    }
  }
}

.hr-clearfix {
  clear: both;
}

/*
   404 page search input styling
   ========================================================================== */

.search-wrap-404 {
  .search-input-icon {
    top: 1px;
    width: 0;
    z-index: 1;
    left: -25px;
    cursor: pointer;
    position: relative;
    color: $light-black;
  }
}

/*
   Contact page form styling
   ========================================================================== */

#contact-form {
  width: 100%;
  @media #{$large} {
    width: 50%;
    float:left;
  }

  .contact-input-group {
    margin-bottom: 1rem;
  }
}

.contact-img {
  max-width: 512px;
  margin: 0 auto;
  margin-top: 3rem;
  vertical-align: bottom;
  @media #{$large} {
    float: right;
    max-width: 45%;
    margin: 0;
  }
}

/*
   Comments section
   ========================================================================== */

#comments {
  .section-title {
    h1 {
      margin-bottom: 2rem;
    }
  }
  h3 {
    margin-top: 0;
    margin-bottom: .25rem;
    a {
      color: black;
    }
  }
  .comment {
    margin-bottom: 2rem;
    p {
      margin-bottom: .25rem;
    }
    &.child {
      padding: 0;
      display: none;
      background: white;
      margin-left: 4.5rem;
      margin-bottom: 0;
      margin-top: 0;
      .comment-avatar {
        width: 2rem;
        height: 2rem;
      }
      p {
        margin-bottom: 1rem;
      }
    }
    .comment-avatar {
      width: 3rem;
      height: 3rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
      vertical-align: top;
      display: none;
      @media #{$medium} {
        display: inline-block;
      }
      img {
        @include rounded(50%);
        &:hover {
          @include box-shadow(0 0 0 .13em $orange);
        }
      }
    }
    .article-text-wrap {
      width: 100%;
      display: inline-block;
      @media #{$medium} {
        width: 89%;
      }
    }
    .comment-content {
      padding-bottom: .25rem;
    }
    .comment-reply {
      overflow: hidden;
      border-radius: 3px;
      background: darken($body-color, 10);
      a.btn {
        margin: 0;
        float: right;
        height: 1.25rem;
        padding: .15rem;
        @media screen and (-webkit-min-device-pixel-ratio:0) {
          padding: .1rem;
        }
        @-moz-document url-prefix() {
          padding: 0 .25rem 0 0;
        }
        &.view-comments-btn {
          margin-left: .25rem;
        }
      }
    }
    .comment-author-name {
      a {
        color: $orange;
      }
    }
  }
}
.entry-comments {
  .leave-comment-btn {
    margin-top: 1rem;
    margin-bottom: 2rem;
    @media #{$large} {
      margin-bottom: 0;
    }
  }
}

/*
   Comments form modal content
   ========================================================================== */

#respond {
  .section-title {
    h1 {
      margin-top: 0 !important;
    }
  }
}

#comment-form {
 .hidden {
    margin: 0;
  }
  .form-group {
    &.inline {
      width: 100%;
      display: block;
      @media #{$small} {
        display: inline-block;
        @include grid(12,4);
        &:first-child {
          padding: 0 10px 0 0;
        }
        &:nth-child(2) {
          padding: 0 10px;
        }
        &:nth-child(3) {
          padding: 0 0 0 10px;
        }
      }
    }
    label {
      text-align: left;
    }
    .btn {
      float: right;
      &.clear {
        margin: 0 1rem 0 0;
      }
    }
    button {
      margin: 0;
    }
    input, textarea, .g-recaptcha {
      margin-bottom: 1rem;
    }
    input, textarea {
      background: darken($body-color, 10);
    }
    input#comment-form-reply {
      display: inline;
    }
  }
}

/*
   Toast alert styles
   ========================================================================== */

  .notification {
    text-align: center;
    * {
      display: table-cell;
      vertical-align: middle;
    } 
  }