
/* ==========================================================================
   Page layout
   ========================================================================== */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $text-color;
  font-family: $base-font;
  background-color: $body-color;

  // for sticky footer
  margin: 0;
  min-height: 100%;
  position: relative;
}

/* Main content */
.site-content {
  padding: 2rem .5rem 4rem .5rem;
  @media #{$medium} {
    padding: 2rem 2rem 4rem 2rem;
  }

  /* Site header */
  .site-header {
    font-weight: 700;
    padding-bottom: 2rem;
    text-transform: uppercase;
    font-family: $heading-font;
    @include font-rem(30);
    a {
      color: $white;
      padding-left: .5rem;
      border-left: .3rem solid $orange;
      @include transition(all .5s);
      &:hover {
        color: $orange;
      }
    }
  }

  #main {
    clear: both;
    counter-reset: captions;
    @include container(75rem);
    @include clearfix;
    #index,
    .post,
    .page {
      width: 100%;
      float: left;
      margin-bottom: 1.5rem;
      @media #{$large} {
        width: 80%;
      }
      .post-content {
        padding: 3rem 1rem 3rem 1rem;
        @media #{$medium} {
          padding: 3rem 3rem 3rem 3rem;
        }
      }
    }
    .post {
      background-color: $white;
    }
    #index,
    .page {
      p, li, a {
        color: $white;
      }
    }

    h1 { margin-top: 0; }
    .post h1 { margin-bottom: .1rem; }
  }
}

/* Index listing specific styling */
#index {
  margin-bottom: 2rem;
  h3 {
    margin: 0;
    padding-bottom: .5rem;
    @include font-rem(28);
    border-bottom: 1px solid lighten($black,70);
  }
  article {
    padding-left: .5rem;
    border-left: .2em solid transparent;
    h2 {
      margin-bottom: 4px;
      @include font-rem(20);
      &.link-post {
        margin-bottom: 0px + $doc-line-height;
        margin-bottom: 0rem + ($doc-line-height / $doc-font-size);
      }
    }
    p {
      @include font-rem(14);
    }
    p+p {
      text-indent: 0;
    }
    &:hover {
      border-left: .2em solid $orange;
    }
  }
}

/* Post byline */
.byline {
  clear: both;
  color: grey;
  font-size: 80%;
}

/* Author sidebar & author/article separator*/
.article-author-side {
  width: 16%;
  float: right;
  display: none;
  color: $white;
  @media #{$large} {
    display: block;
  }
  h4 {
    margin-bottom: .5rem;
    text-transform: uppercase;
    @include font-rem(16);
    &:before {
      content: "\2014";
      padding-right: .25rem;
    }
  }
  p {
    margin: 0;
    color: $grey;
    font-size: 80%;
    font-style: italic;
  }
  a {
    color: $grey;
    &:hover {
      color: $orange;
    }
  }
  .byline {
    color: grey;
  }

  .bio-photo {
    max-width: 90%;
    @include rounded(50%);
    &:hover {
      @include box-shadow(0 0 0 .15em $orange);
    }
  }

  /* Large feature header image */
  .image-wrap {
    position: relative;
    margin-bottom: 2rem;
    @include clearfix;
    img {
      width: 100%;
      height: auto;
      -ms-interpolation-mode: bicubic;
    }
    .headline-wrap {
      position: absolute;
      bottom: 25px;
      @include prefix(12,1);
      @media #{$small} {
        left: 25%;
        margin-left: 0;
      }
      @media #{$x-large} {
        @include prefix(12,1);
      }
      h1, h2 {
        color: $white;
        @include text-shadow(0 1px 2px rgba(0,0,0,.25));
      }
    }
  }

  /* Latest articles list */
  .latest-articles {
    &.side {
      a {
        outline: 0;
        display: contents;
        font-family: $heading-font;
        margin-bottom: .4rem;
        &:hover {
          text-decoration: underline;
        }
      }
      p {
        margin-bottom: 1rem;
      }
    }
  }

  hr {
    border: none;
    height: .15rem;
    color: grey;
    background-color: grey;
  }
}

/* Cards under article on tablet and mobile */
.latest-articles.article,
.disqus-comments-card,
.about-author-card {
  margin-bottom: 1.5rem;
  background-color: $white;
  border-left: .3rem solid $orange;
  padding: 1rem 3rem 1rem 3rem;
  @media #{$large} {
    display: none;
  }
  h4 {
    margin-bottom: .5rem;
    text-transform: uppercase;
    @include font-rem(16);
    &:before {
      content: "\2014";
      padding-right: .25rem;
    }
  }
}

/* Post content wrapper */
.article-wrap {
  // Dotted line underlines for links
  p > a,
  li > a {
    text-decoration: underline;
  }
}

/* Table of contents */
.toc {
  font-size: 95%;
  @media #{$large} {
    display: block;
    @include grid(12,2);
    @include prefix(12,0.5);
    @include suffix(12,0.5);
    position: absolute;
    top: 5.5rem;
    right: 0;
    background-color: $white;
  }
  header {
    background: lighten($black, 10);
  }
  h3 {
    margin: 0;
    padding: 5px 10px;
    color: $white;
    @include font-rem(16);
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
    }
  }
  ul {
    margin: 2px 0 0;
    padding: 0;
    line-height: 1;
  }
  li {
    display: block;
    margin: 0 0 1px 0;
    padding: 0;
    font-family: $heading-font;
    list-style-type: none;
    &:last-child {
      border-bottom-width: 0;
    }
    a {
      padding: 10px;
      display: block;
      color: $white;
      text-decoration: none;
      background: lighten($black, 30);
      @include opacity(0.7);
      @include transition(opacity 0.2s ease-in-out);
      &:hover {
        @include opacity(1);
      }
    }
    ul {
      margin: 1px 0 0;
      li a {
        padding-left: 20px;
      }
    }
  }
}

/* TOC trigger for collapsing */
#drawer {
  max-height: 100%;
  overflow: hidden;
  &.js-hidden {
    max-height: 0;
  }
}

/* Image grid - not used */
.image-grid {
  @include clearfix;
  list-style: none;
  margin: 0 0 1rem;
  padding: 0;
  li {
    @include grid(12,6);
    @media #{$micro} {
      width: 33.333333%;
    }
    @media #{$small} {
      width: 25%;
    }
    @media #{$medium} {
      width: 20%;
    }
    @media #{$large} {
      width: 16.666666666%;
    }
  }
}

/* Recent grid - not used */
.recent-grid {
  @include clearfix;
  list-style: none;
  margin: 1em 0;
  li {
    display: inline;
    a {
      border-bottom: 0 solid transparent;
      &:hover {
        border-bottom: 0 solid transparent;
      }
    }
  }
  img {
    width: 19%;
    margin-bottom: 1%;
  }
}

/* Social sharing links */
/* Social media brand buttons */
.social-share,
.post-tags {
  h4 {
    margin-bottom: .5rem;
    text-transform: uppercase;
    @include font-rem(16);
    &:before {
      content: "\2014";
      padding-right: .25rem;
    }
  }
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
    margin: 0 .2rem .4rem 0;
  }
  i {
    padding-right: .25rem;
  }
  $social:
  (twitter, $twitter-color),
  (facebook, $facebook-color),
  (google-plus, $google-plus-color),
  (linkedin, $linkedin-color),
  (flickr, $flickr-color),
  (foursquare, $foursquare-color),
  (instagram, $instagram-color),
  (pinterest, $pinterest-color),
  (rss, $rss-color),
  (tumblr, $tumblr-color),
  (vimeo, $vimeo-color),
  (youtube, $youtube-color);
  @each $socialnetwork, $color in $social {
    .#{$socialnetwork} {
      background: $color;
    }
  }
  a {
    opacity: 0.8;
    color: $white;
    display: block;
    font-weight: 600;
    padding: 5px 5px;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none !important;
    background-color: lighten($light-black, 20);
    font-family: $heading-font;
    @include font-rem(14);
    &:hover { opacity: 1; }
  }
}

.post-tags {
  &.article {
    display: block;
    @media #{$large} {
      display: none;
    }
  }
}

/* Footer wrapper */
.footer-wrap {
  border-top: .15em solid $orange;
  background-color: $footer-color;
  padding: 0.5em 0 1em 0;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  clear: both;
  @include container;
  @include clearfix;
  a,
  a:active,
  a:visited,
  p,
  h4,
  h5,
  h6,
  span {
    @include font-rem(14);
  }
  footer {
    .author-social {
      display: inline-block;
    }
    &, a {
      color: $white !important;
    }
    a {
      text-decoration: underline;
      outline: 0;
    }
    i:hover {
      color: $orange;
    }
    @include grid(12,10);
    @include prefix(12,1);
    @include suffix(12,1);
    @media #{$small} {
      @include grid(12,6);
      @include prefix(12,3);
      @include suffix(12,3);
    }
    @media #{$x-large} {
      @include grid(12,4.5);
      @include prefix(12,4);
      @include suffix(12,3.5);
    }
  }
}

.scroll-top {
  top: 2rem;
  display: none;
  position: fixed;
  margin-left: -3.5rem;
  padding: 0 .15em .2em .15rem;
  background-color: $light-black;
  @include rounded(10%);
  @include box-shadow(0 0 .3em $orange);
  @media #{$large-max} {
    display: none !important;
  }
  i { color: $orange; }
  a {  outline: 0 !important; }
}

/*
   Browser upgrade alert
   ========================================================================== */

.browser-upgrade {
  background: #000;
  text-align: center;
  margin: 0 0 2em 0;
  padding: 10px;
  text-align: center;
  color: $white;
  a {
    color: $white;
    border-bottom: 1px dotted $white;
    text-decoration: none;
    &:hover {
      border-bottom: 1px solid $white;
    }
  }
}

/*
   Google search form
   ========================================================================== */

#goog-fixurl {
  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    li {
      list-style-type: none;
    }
  }
}
#goog-wm-qt {
  width: auto;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 8px 20px;
  display: inline-block;
  @include font-rem(14);
  background-color: $white;
  color: $black;
  border-width: 2px !important;
  border-style: solid !important;
  border-color: lighten($black,50);
  @include rounded(3px);
}
#goog-wm-sb {
  @extend .btn;
}

/*
   Handle results page when JavaScript is turned off in the browser
   ========================================================================== */

.results .search-results-article { display: none; }
.results .js-req-header { display: none; }

.no-js .results {
  #index #search-results-header {
    display: none;
  }
  .js-req-header {
    display: block;
    border-bottom: none !important;
  }
}

/*
   Reveal animation of site content
   ========================================================================== */

.fade-in-first {
  opacity: 0;
  animation: fadeIn 250ms forwards;
}

.fade-in-second {
  opacity: 0;
  animation: fadeIn 500ms forwards;
}

.fade-in-third {
  opacity: 0;
  animation: fadeIn 750ms forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}