<div class="entry-comments" id="entry-comments">
  {% if site.staticman.repository and site.staticman.branch %}
    {% if site.data.comments[page.slug] %}
      <!-- Start static comments -->
      <div id="comments" class="js-comments">
        {% assign comments = site.data.comments[page.slug] | sort | where_exp: 'comment', 'comment[1].replying_to == ""' %}
        <header class="section-title">
          <h1>{{ comments | size | append: ' ' }}Comment{% if comments.size == 0 or comments.size > 1 %}s{% endif %}</h1>
        </header>
        {% for comment in comments %}
          {% assign index       = forloop.index %}
          {% assign replying_to = comment[1].replying_to | to_integer %}
          {% assign email       = comment[1].email %}
          {% assign name        = comment[1].name %}
          {% assign url         = comment[1].url %}
          {% assign date        = comment[1].date %}
          {% assign message     = comment[1].message %}
          {% include _comment.html index=index replying_to=replying_to email=email name=name url=url date=date message=message %}
        {% endfor %}
      </div>
      <!-- End static comments -->
    {% else %}
      <header class="section-title">
        <h1>0 Comments</h1>
      </header>
    {% endif %}
  
    {% unless page.comments_locked == true %}
      <a href="#leave-comment-modal" class="leave-comment-btn btn" onclick="autofocusCommentTextArea()">
        <i class="fa fa-fw fa-comment"></i>
        <span>Leave a comment</span>
      </a>
    {% else %}
      <p><em><i class="fa fa-fw fa-exclamation-triangle"></i> Comments are closed. If you have a question concerning the content of this page, please feel free to <a href="/contact">contact me</a>.</em></p>
    {% endunless %}

    <div class="remodal" data-remodal-id="leave-comment-modal">
      <button data-remodal-action="close" class="remodal-close"></button>
      {% include _comment-form.html %}
    </div>
  {% endif %}
</div>