<form id="contact-form" method="POST">
  <p>
    Feel free to drop me a line via this contact form below.<br>
    Please allow at least 24 hours for me to get back to you.
  </p>

  <div class="contact-input-group">
    <label>Name</label>
    <input
      type="text"
      name="Name"
      id="contact-input-name"
      placeholder="Your name..."
      maxlength="50">
  </div>

  <div class="contact-input-group">
    <label id="email-label">Email</label>
    <input
      type="email"
      name="Email"
      id="contact-input-email"
      placeholder="Your email..."
      maxlength="50">
  </div>

  <div class="contact-input-group">
    <label id="subj-label">Subject*</label>
    <input
      type="text"
      name="Subject"
      id="contact-input-subj"
      placeholder="Subject line"
      maxlength="100"
      required>
  </div>

  <div class="contact-input-group">
    <label id="msg-label">Message*</label>
    <textarea
      name="Message"
      id="contact-input-msg"
      placeholder="Message body"
      maxlength="2000"
      required
    ></textarea>
  </div>

  <a href="javascript: clearContactForm();" class="btn"><i class="fa fa-fw fa-trash"></i> Clear</a>
  <a href="javascript: submitContactForm();" class="btn"><i class="fa fa-fw fa-envelope-square"></i> Submit</a>

  <!-- redirect to custom thank you -->
  <input
    type="hidden"
    name="_next"
    value="/contact#contact-success-msg" />

  <!-- tell Formspree to neglect forms submitted by bots -->
  <input type="text" name="_gotcha" style="display:none" />
</form>

<div class="contact-img">
  <img
    src="http://johnabraham.me/assets/img/if_envelope.png"
    alt="contact-me-photo">
</div>