{% if page.author %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">
  <div class="related-posts side">
    {% include _related-posts.html %}
  </div>

  {% if page.tags.size > 0 %}
    <div class="post-tags side">
      <h4>Tags</h4>
      <ul>
        {% for tag in page.tags %}
          <li>
            <a href="/results?tag={{tag}}" title="{{tag}}"><span><i class="fa fa-tag"></i>{{tag}}</span></a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if page.share != false %}
    <div class="social-share side">
      {% include _social-share.html %}
    </div>
  {% endif %}

  <div id="scroll-top">
    <a href="javascript:"><i class="fa fa-fw fa-arrow-up"></i> back to top</a>
  </div>
</div>