---
sitemap: false
---

// Partials
@import "variables";
@import "grid";
@import "mixins";
@import "flexbox";
@import "normalize";
@import "site";
@import "typography";
@import "syntax";
@import "elements";
@import "forms";
@import "navigation";
@import "page";
@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/fa-solid";
@import "vendor/font-awesome/fa-brands";
@import "vendor/magnific-popup/magnific-popup";
//@import "vendor/google/fonts";
