<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
  {% include _head.html %}
</head>

<body class="post">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

<div class="site-content">
  <div id="main" role="main">
    <div class="scroll-top">
      <a href="javascript:"><i class="fa fa-fw fa-chevron-circle-up"></i></a>
    </div>

    {% if page.image.feature %}
      <div class="image-wrap fade-in-first">
        <img src=
        {% if page.image.feature contains 'http' %}
          "{{ page.image.feature }}"
        {% else %}
          "{{ site.url }}/assets/img/{{ page.image.feature }}"
        {% endif %}
        alt="{{ page.title }} feature image">

        {% if page.image.credit %}
          <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
        {% endif %}
      </div><!-- /.image-wrap -->
    {% endif %}

    <article class="post fade-in-second">
      <div class="post-content-wrap">
        <p class="byline headline">
          <i class="fa fa-fw fa-calendar"></i>
          <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>
          by: <a href="/about">{{ site.owner.name }}</a>

          {% if page.comments %}
            {% if site.data.comments[page.slug] %}
              {% assign comments_size = site.data.comments[page.slug] | sort | where_exp: 'comment', 'comment[1].replying_to == ""' | size %}
              {% if comments_size > 0 %}
                <a class="comments-preview" href="#comments">
                  <i class="fa fa-fw fa-comments"></i>{{ comments_size | append: ' ' }}Comment{% if comments_size > 1 %}s{% endif %}
                </a>
              {% else %}
                <a class="comments-preview" href="#entry-comments">
                  <i class="fa fa-fw fa-comments"></i>0 Comments
                </a>
              {% endif %}
            {% else %}
              <a class="comments-preview" href="#entry-comments">
                <i class="fa fa-fw fa-comments"></i>0 Comments
              </a>
            {% endif %}
          {% endif %}
        </p>
  
        <hr>
  
        <div class="post-content">
          <div class="headline-wrap">
            {% if page.link %}
              <h1><a href="{{ page.link }}">{{ page.title }}</a></h1>
            {% else %}
              <h1><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
            {% endif %}
          </div><!--/ .headline-wrap -->
          <div class="article-wrap">
            {{ content }}

            <footer role="contentinfo">
              <hr>

              {% if page.share != false %}
                {% include _social-share.html %}
              {% endif %}

              {% if page.tags.size > 0 %}
                <div class="post-tags article">
                  <h4>Post Tags</h4>
                  <ul>
                    {% for tag in page.tags %}
                      <li>
                        <a href="/results?tag={{tag}}" title="{{tag}}"><span><i class="fa fa-tag"></i>{{tag}}</span></a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}

              <hr>

              <nav class="pagination" role="navigation">
                {% if page.previous %}
                  <div class="article-wrap prev">
                    <a href="{{ site.url }}{{ page.previous.url }}" title="{{ page.previous.title }}">
                      <i class="fa fa-fw fa-chevron-left"></i>
                        <div class="text-wrap">
                          <span>Previous article</span>
                          <div class="byline">({{ page.previous.title }})</div>
                      </div>
                    </a>
                  </div>
                {% endif %}

                {% if page.next %}
                  <div class="article-wrap next">
                    <a href="{{ site.url }}{{ page.next.url }}" title="{{ page.next.title }}">
                      <i class="fa fa-fw fa-chevron-right"></i>
                      <div class="text-wrap">
                        <span>Next article</span>
                        <div class="byline">({{ page.next.title }})</div>
                      </div>
                    </a>
                  </div>
                {% endif %}
              </nav>

              <hr class="hr-clearfix">
            </footer>

            {% if page.comments %}
              {% include _comments.html %}
            {% endif %}
          </div><!-- /.article-wrap -->          
        </div>

        <aside class="article-author-side fade-in-third">
          {% include _author-bio.html %}
        </aside>
      </div><!-- /.post-content-wrap -->

      {% if site.related_posts.size > 0 %}
        <div class="card-separator"></div>
        <div class="latest-articles article">
          <h4>Latest posts</h4>
          {% for post in site.related_posts limit:5 %}
            <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
            <p class="byline"> 
              Published on <time datetime="{{ post.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>
            </p>
          {% endfor %}
        </div>
      {% endif %}

      <div class="card-separator about-author"></div>

      <div class="about-author-card">
        {% if author.avatar contains 'http' %}
          <a href="/about">
            <img src="{{ author.avatar }}" class="bio-photo" alt="{{ author.name }} bio photo">
          </a>
        {% else %}
          <a href="/about">
            <img src="{{ site.url }}/assets/img/{{ author.avatar }}" class="bio-photo" alt="{{ author.name }} bio photo">
          </a>
        {% endif %}
        <h4>About the author</h4>
        <p>{{ author.bio }}</p>
      </div>
    </article>
  </div><!-- /#main -->
</div><!-- /.site-content -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>