<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
  {% include _head.html %}
</head>

<body class="post-index">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

<div class="site-content">
  <div id="main" role="main">
    <div id="index" class="fade-in-second">
      <h1 class="page-title">{{ page.title }}</h1>
      <hr>

      <div class="articles">
        {% for post in paginator.posts %}
          <article>
            <div class="post-text">
              <h2>
                <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                {% if post.link %}
                  <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-link"></i></a>
                {% endif %}
              </h2>
              <div class="mobile-meta">
                <span class="byline"><time datetime="{{ post.date | date_to_xmlschema }}"><i class="fa fa-fw fa-calendar"></i> {{ post.date | date: "%B %d, %Y" }}</time></span>
                <span> | </span>
                <span class="byline"><i class="fa fa-fw fa-clock"></i> ~{{post.readometer}} Min Read</span>
              </div>
              <p>{{ post.excerpt | strip_html | truncate: 125 }}</p>
              <a href="{{ site.url }}{{ post.url }}" class="read-more">Read More <i class="fa fa-chevron-right"></i></a>
            </div>
            <div class="post-meta">
              <p><time datetime="{{ post.date | date_to_xmlschema }}"><i class="fa fa-fw fa-calendar"></i> {{ post.date | date: "%B %d, %Y" }}</time></p>
              <p><i class="fa fa-fw fa-clock"></i> ~{{post.readometer}} Min Read</p>
            </div>
          </article>
        {% endfor %}

        <article class="pagination-article">
          {% include _posts-paginated.html %}
        </article>
      </div>

      <div class="topics">
        <h2>Browse by topic:</h2>
        <ol>
          {% capture tags %}
            {% for tag in site.tags %}
              {{ tag[1].size | plus: -10000 }}###{{ tag[0] | replace: ' ', '##' }}###{{ tag[1].size }}
            {% endfor %}
          {% endcapture %}
          {% assign sorted_tags = tags | split: ' ' | sort %}
          {% for sorted_tag in sorted_tags %}
            {% assign items = sorted_tag | split: '###' %}
            {% assign tag = items[1] | replace: '##', ' ' %}
            {% assign count = items[2] | plus: 0 %}
            {% if count > 5 %}
              {% assign size = 5 %}
            {% else %}
              {% assign size = count %}
            {% endif %}
            <li class="tag-size-{{ size }}">
              <a class="tag-link" href="/tag/{{ tag | slugify }}" rel="tag">{{ tag }}</a><span>{{ count }}</span>
            </li>
          {% endfor %}
        </ol>
      </div>
    </div><!-- /#index -->
  </div><!-- /#main -->
</div><!-- /.site-content -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
