<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
  {% include _head.html %}
</head>

<body class="post">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

<div class="site-content">
  <div id="main" role="main">
    <div class="post-headline-wrap fade-in-first">
      <div class="headline-meta">
<!-- 
        <h1 class="site-name">
          <i class="fa fa-fw fa-bars"></i>
          <a href="/">{{ site.title }}</a>
        </h1>
 -->
        <h1 class="post-title">
          {% if page.link %}
            <a href="{{ page.link }}" target="_blank">{{ page.title }}</a>
          {% else %}
            <a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a>
          {% endif %}
        </h1>

        <span class="post-author">__by: <a href="/about">{{ site.owner.name }}</a></span>

        <div class="byline post-meta">
          <div class="post-meta-item">
            <i class="fa fa-fw fa-clock"></i>
            <span>~{{page.readometer}} Min Read</span>
          </div>

          <div class="post-meta-item">
            <i class="fa fa-fw fa-calendar"></i>
            <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>
          </div>

          {% if page.comments %}
            <div class="post-meta-item">
              {% if site.data.comments[page.slug] %}
                {% assign comments_size = site.data.comments[page.slug] | sort | where_exp: 'comment', 'comment[1].replying_to == ""' | size %}
                {% if comments_size > 0 %}
                  <a class="comments-preview" href="#comments">
                    <i class="fa fa-fw fa-comments"></i>{{ comments_size | append: ' ' }}Comment{% if comments_size > 1 %}s{% endif %}
                  </a>
                {% else %}
                  <a class="comments-preview" href="#entry-comments">
                    <i class="fa fa-fw fa-comments"></i>0 Comments
                  </a>
                {% endif %}
              {% else %}
                <a class="comments-preview" href="#entry-comments">
                  <i class="fa fa-fw fa-comments"></i>0 Comments
                </a>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>

      <img src="{{ site.url }}/assets/img/feature_images/{{ page.image.feature }}" alt="feature_image">

      {% if page.image.credit %}
        <span class="img-credit">{{ page.image.credit }}</span>
      {% endif %}
    </div><!--/ .headline-wrap -->

    <article class="post fade-in-second">
      <div class="post-content-wrap">
        <div class="post-content">
          <div class="article-wrap">
            {{ content }}

            <footer role="contentinfo">
              {% if page.share != false %}
                {% include _social-share.html %}
              {% endif %}

              {% if page.tags.size > 0 %}
                <div class="post-tags article">
                  <h4>Post Tags</h4>
                  <ul>
                    {% for tag in page.tags %}
                      <li>
                        <a href="/tag/{{ tag | slugify }}" title="{{tag}}"><span><i class="fa fa-tag"></i>{{tag}}</span></a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}

              <hr>

              <nav class="post-navigation" role="navigation">
                {% if page.previous %}
                  <div class="article-wrap prev">
                    <a href="{{ site.url }}{{ page.previous.url }}" title="{{ page.previous.title }}">
                      <i class="fa fa-fw fa-chevron-left"></i>
                        <div class="text-wrap">
                          <span>Previous article</span>
                          <div class="byline">({{ page.previous.title }})</div>
                      </div>
                    </a>
                  </div>
                {% endif %}

                {% if page.next %}
                  <div class="article-wrap next">
                    <a href="{{ site.url }}{{ page.next.url }}" title="{{ page.next.title }}">
                      <i class="fa fa-fw fa-chevron-right"></i>
                      <div class="text-wrap">
                        <span>Next article</span>
                        <div class="byline">({{ page.next.title }})</div>
                      </div>
                    </a>
                  </div>
                {% endif %}
              </nav>

              <hr class="hr-clearfix">
            </footer>

            {% if page.comments %}
              {% include _comments.html %}
            {% endif %}
          </div>
        </div>

        <aside class="post-sidebar fade-in-third">
          {% include _post-sidebar.html %}
        </aside>
      </div>

      <div class="related-posts article">
        {% include _related-posts.html %}
      </div>
    </article>
  </div><!-- /#main -->
</div><!-- /.site-content -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>