<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
  {% include _head.html %}
</head>

<body class="post-index">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

<div class="site-content">
  <div id="main" role="main">
    <div class="scroll-top">
      <a href="javascript:"><i class="fa fa-fw fa-chevron-circle-up"></i></a>
    </div>

    <div id="index" class="fade-in-second">
      <h1>{{ page.title }}</h1>
      <hr>
      {% for post in site.posts %}
        <article class="post-index-article">
          <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
            <img src="/assets/img/feature_images/{{post.image.feature}}" alt="post_img">
          </a>

          <div class="index-card-meta">
            {% if site.data.comments[post.slug] %}
              {% assign comments_size = site.data.comments[post.slug] | sort | where_exp: 'comment', 'comment[1].replying_to == ""' | size %}
            {% else %}
              {% assign comments_size = 0 %}
            {% endif %}

            <p class="byline">
              <i class="fa fa-fw fa-calendar"></i>
              <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
              <span>by: <a href="/about">{{ site.owner.name }}</a></span>
              <span>| </span>
              <span><i class="fa fa-fw fa-comments"></i> {{ comments_size }}</span>
            </p>
          </div>

          <div class="index-card-info-wrap">
            <h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>

            <p>{{ post.excerpt | strip_html }}</p>

            <p class="read-more-link">
              <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">Read More <i class="fa fa-fw fa-arrow-right"></i></a>
            </p>
          </div>
        </article>
      {% endfor %}
    </div><!-- /#index -->
  </div><!-- /#main -->
</div><!-- /.site-content -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
